<div id="<%= dom_id storage_item %>">  
        <p>
          <strong>Title:</strong>
          <%= storage_item.title %>
        </p>

        <p>
          <strong>Body:</strong>
          <%= storage_item.body %>
        </p>
        
      <% if storage_item.image.attached? %>
        <%= image_tag storage_item.image %> 
      <% end %> 
        
</div>
