<div id="<%= dom_id place %>">

  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <h5><strong><%= link_to place.location, place %></strong></h5>
    </div>
    
      <% if place.image.attached? %>
        <%= image_tag place.image %> 
      <% end %>  
      
    </div>
  </div>
</div>
