<div id="<%= dom_id place %>">

  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <h5><strong><%= link_to place.location, place %></strong></h5>
    </div>
    
      <img <%= image_tag place.image %> >      
      
    </div>
  </div>
</div>
