<br>
  <div class="card md-3" style="width: 20rem;">
    <div class="card-header">
      <h5>New place</h5>
        <%= render "form", place: @place %>
        <br>
      </div>
      <div class="card-footer text-center">
        <%= link_to "Back to places", places_path(@place), class: "btn btn-light btn-rounded" %>
    </div>
  </div>

